@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

#keywordEntrySection {
  /* display:none; */
  
  flex-direction:row;
}

.search-container-inputs {
  display:flex;
  flex-direction:row;

  align-items: center;
}

.search-container {
  width:500px;
  /* margin:50px; */
  display:flex;
  
  /* border: 1px solid #ccc; */
  border-radius: 3px;
  /* padding:8px; */
  flex-basis:250px;
  flex-wrap:wrap;
  flex-direction:row;

}
.search-term-container {
  
  display:flex;
  /* border: 2px solid #bbb;
  border-radius: 3px; */
  flex-wrap:wrap;
  flex-direction:row;
}

.search-term-container .search-term {
  padding:4px;
  border: 1px solid #ccf;
  margin:5px;
  display:flex;
  align-items:center;
  border-radius:3px;
  background:#f2f2f2;
}

.map {
  width:100%;
  height:100%; 
}
#analyzeButton {
  display:none;
}


#tabContent {
  width:100vw;
  height:80%;
}

.inputForm {
  display:flex;
  align-items: flex-start;
  flex-direction:column;
  /* justify-content:space-evenly;
  row-gap:1em; */
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||| */
.formGrid1 {
  display:grid;
  grid-template-columns: repeat(2, 200px);
  border-style:inset;
  grid-template-rows: repeat(2, 5em);
}

#moduleSelectSection {
  grid-column: 1;
  grid-row:1;
}
#regionSection {
  grid-column:2;
  grid-row:1;
}

#trendDateSection{
  grid-column: 1;
  grid-row:2;
}
#categorySection{
  grid-column: 2;
  grid-row:2;
}
/* **************************************** */
.formGrid2 {
  display:none;
  grid-template-columns: repeat(3, 250px);
  gap:15px;
  grid-template-rows: repeat(3, 5em);
  border-style:inset;
}

#dateRangeSection{
  grid-column: 1 / 3;
  grid-row:2;
}


/* #keywordEntrySection{
  grid-column: 1/3;
  grid-row:3;
} */


/* |||||||||||||||||||||||||||||||||||||||||||||||||| */

.formButtonGrid {

  display:flex;
  width:500px;
  height:500px;
  flex-wrap:wrap;
  flex-direction:row;
  align-items: flex-start;
  justify-content:space-evenly;
  
}

#inputFormOffcanvas {
  display:block;
  width:300px;
  
}


/* #inputSideBar > * {
  opacity:1.0;
} */


/* .sidebar > * {
  z-index: 999;
} */


/* .ui.dropdown .menu > .item{
  z-index: 999999 !important;
  pointer-events:all;
} */


/* .ui.dropdown.menu {
  overflow:visible;
} */
/* .ui.menu {
  opacity:1;
  z-index:1
} */


.dropdown .menu {
  opacity:1.0;
  position:absolute !important;
  overflow:visible;
}


#inputSideBar {
  opacity:.95;
  width:550px;
}
#dateSlider {
  display:block;
  position:relative;
  width: 85%;
  left:9%;
  /* left:4em;        */
  /* position:inherit; */
  /* margin-left:5em; */
  /* margin-right:5em; */
  /* margin-right:25%; */

}

#sideBarHandle > * {
  pointer-events: none;
}


#sideBarHandle {
  position:absolute;
  display:block;
  top:0%;
  right:0%;



  -webkit-transform: initial;
  transform: initial;
  
  
  transition: transform 500ms ease;
  z-index:999;
  
}

#sideBarHandle.showing {
  -webkit-transform: translate3d(-550px, 0, 0);
  transform: translate3d(-550px, 0, 0);
  
}

#backToGlobalBtn {
  position:absolute;
  display:none;
  opacity: 0;
  top:0%;
  left:0%;
  z-index:999;

  transition: opacity 1s ease, display .5s ease;
}

#backToGlobalBtn.showing {
  opacity: 1.0;
  display:block;
}





