@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

#keywordEntrySection {
  /* display:none; */
  
  flex-direction:row;
}

.search-container-inputs {
  display:flex;
  flex-direction:row;

  align-items: center;
}

.search-container {
  width:500px;
  /* margin:50px; */
  display:flex;
  
  /* border: 1px solid #ccc; */
  border-radius: 3px;
  /* padding:8px; */
  flex-basis:250px;
  flex-wrap:wrap;
  flex-direction:row;

}
.search-term-container {
  
  display:flex;
  /* border: 2px solid #bbb;
  border-radius: 3px; */
  flex-wrap:wrap;
  flex-direction:row;
}

.search-term-container .search-term {
  padding:4px;
  border: 1px solid #ccf;
  margin:5px;
  display:flex;
  align-items:center;
  border-radius:3px;
  background:#f2f2f2;
}

/* .map {
 
  transition: transform 1s ease;  
 
} */

#continents.withEase {
  transition:transform .25s ease, opacity 1s ease, z-index 1s;
}
#continents.usLocal {
  transform: matrix(5.6233461104160645, 0, 0, 5.6233461104160645, -648.7011198398013, -474.87611981788);
}
#continents {
  transition:transform .25s ease-out;
  width:100%;
  height:100%;
  top:0%;
  left:0%;
  display:block;
  position:absolute;
}
.ocean {
  z-index:40;
  fill:hsl(180, 100%, 50%);
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  display:block;
  position:absolute;
}

#worldMap {
  z-index:10;
  opacity:100%;
  pointer-events:all;
}
#worldMap.hidden {
  opacity:0%;
  z-index:9;
  pointer-events:none;
}



#usCountyMap {
  width:1160px;
  height:1000px; 
  position:absolute;
  
  opacity:0%;
  z-index:9;
  display:block;
  pointer-events:none;
}

#usCountyMap.showing {
  pointer-events:initial;
  opacity:100%;
  z-index:10;
  /* transform: matrix(5.41899193367184, 0, 0, 5.41899193367184, -558.2234489304034, -523.9899405924403); */
  /* transform: matrix(5.6233461104160645, 0, 0, 5.6233461104160645, -648.7011198398013, -474.87611981788); */

}

/* .map.local.showing {
  opacity: 100%;
} */

#analyzeButton {
  display:none;
}


#tabContent {
  width:100vw;
  height:80%;
}

.inputForm {
  display:flex;
  align-items: flex-start;
  flex-direction:column;
  /* justify-content:space-evenly;
  row-gap:1em; */
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||| */
.formGrid1 {
  display:grid;
  grid-template-columns: repeat(2, 200px);
  border-style:inset;
  grid-template-rows: repeat(2, 5em);
}

#moduleSelectSection {
  grid-column: 1;
  grid-row:1;
}
#regionSection {
  grid-column:2;
  grid-row:1;
}

#trendDateSection{
  grid-column: 1;
  grid-row:2;
}
#categorySection{
  grid-column: 2;
  grid-row:2;
}
/* **************************************** */
.formGrid2 {
  display:none;
  grid-template-columns: repeat(3, 250px);
  gap:15px;
  grid-template-rows: repeat(3, 5em);
  border-style:inset;
}

#dateRangeSection{
  grid-column: 1 / 3;
  grid-row:2;
}


/* #keywordEntrySection{
  grid-column: 1/3;
  grid-row:3;
} */


/* |||||||||||||||||||||||||||||||||||||||||||||||||| */

.formButtonGrid {

  display:flex;
  width:500px;
  height:500px;
  flex-wrap:wrap;
  flex-direction:row;
  align-items: flex-start;
  justify-content:space-evenly;
  
}

#inputFormOffcanvas {
  display:block;
  width:300px;
  
}


/* #inputSideBar > * {
  opacity:1.0;
} */


/* .sidebar > * {
  z-index: 999;
} */


/* .ui.dropdown .menu > .item{
  z-index: 999999 !important;
  pointer-events:all;
} */


/* .ui.dropdown.menu {
  overflow:visible;
} */
/* .ui.menu {
  opacity:1;
  z-index:1
} */


.dropdown .menu {
  opacity:1.0;
  position:absolute !important;
  overflow:visible;
}
#inputSideBarContent {
  opacity:.95;
  width:100%;
  height:100%;

}

#inputSideBar {
  
  opacity:.95;
  width:550px;
}


#dateSlider.hidden {
  display:none;
}
#dateSlider {
  display:block;
  position:relative;
  width: 85%;
  left:9%;
  /* opacity:5%; */
  /* left:4em;        */
  /* position:inherit; */
  /* margin-left:5em; */
  /* margin-right:5em; */
  /* margin-right:25%; */

}
#trendsTab {
  display:none;
}
#trendsTab.showing {
  display:block;
}

#settingsTab {
  display:none;
}
#settingsTab.showing {
  display:block;
}

#settingsBtnWrapper {
  opacity:90%;
}

#sideBarBtns {
  opacity:90%;
  position:absolute;
  top:5%;
  left:3%;
  width:100%;
  height:90%;

  /* flex-wrap:wrap; */

 
}


.sideBarBtn {
  display:absolute;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100px;

  /* background-color: #2185D0 */
  transition:background 1s ease;
}

.sideBarBtn.primary {
  background: #2185D0;
}

.sideBarBtn:focus {
  opacity:100%;

}
.sideBarBtn > * {
  pointer-events: none;
  vertical-align: middle;
}


/* both the map and the sidebar */
#mapWidget {
  width:fit-content;
  height:fit-content;
  
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
#sideBarHandle {
  position:absolute;
  display:block;
  top:0%;
  right:0%;

  height:100%;
  width:75px;
  -webkit-transform: initial;
  transform: initial;
  
  transition: transform 500ms ease, opacity 500ms ease;
  z-index:99;
  opacity:50%;
  border-style:inset;
  border-start-end-radius: 150px 100px;
  direction:rtl;
}

#sideBarHandle:hover {
  opacity:90%;
}
#sideBarHandle > * {
  z-index:99;
}

#sideBarHandle.showing {
  -webkit-transform: translate3d(-550px, 0, 0);
  transform: translate3d(-550px, 0, 0);
  opacity:90%;
}
.regionNavBtnGroup.collapsed {
  top:0px;
}
.regionNavBtnGroup {
  display:inline-grid;
  width:100px;
  grid-template-columns: auto auto auto;
  column-gap:5px;
  display:flex;
  position:absolute;
  top:110px;
  left:557px;
  transition: opacity 1s ease;
  z-index:999;
  opacity:1;
}

.regionNavBtn {

  width:25px;
  height:25px;
  opacity: inherit;
  padding:10px;
  z-index:999;
  transition: opacity 1s ease, display .5s ease;
}
.regionNavBtnGroup.showing {
  opacity: 1;
}

.regionNavBtn > * {
  pointer-events: none;
  vertical-align: middle;
  transform:translate(-6px,-5px);
}



/* .regionElement {
  
  box-shadow:0 0 0 2m #000000;
  transition: box-shadow .5s ease;
} */

/* 
.regionElement:hover {
  box-shadow: 0 0 10px 2em #000000;
} */


.state {
  pointer-events:initial;
  z-index:50;
  
}
.metro {
  pointer-events:initial;
  transform:translateY(0);
  z-index:50;
  transition:transform .25s ease;

} 
.metro:hover {
  transform:translateY(-.5px);
  z-index:51;
  filter:url("#landShadows");

}
.county {
  z-index:inherit;
}

.region-container {
  width:500px;
  /* margin:50px; */

  position:absolute;
  top:25%;
  left:10%;
  border:1px solid black;

  display:flex;
  height:100px;
  /* border: 1px solid #ccc; */
  border-radius: 3px;
  /* padding:8px; */
  flex-basis:250px;
  flex-wrap:wrap;
  flex-direction:row;

}


.region-card-container {
  position:absolute;
  display:block;
  top:5px;
  left:330px;

  width:600px;
  height:100px;

  
}


/* .region-card-container .region-card { */
.region-card .card {
  padding:4px;
  border: 1px solid #ccf;
  z-index:100;
  position:absolute;
  
  height:100px;
  width:100px;

}



.region-card.ord1 .card{
  top:0px;
  left:0px;
  position:absolute;
  display:block;

  opacity:.25;
  pointer-events: all;
  
  transform-style: preserve-3d;
  transform: scale(.65, .65) translateX(25px);        /* transform: rotateX(0deg) rotateY(-80deg) translateX(325px); */
  transition: opacity .5s ease, left .5s ease, transform .5s ease;
}
.region-card.ord2 .card{
  top:0px;
  left:110px;
  position:absolute;
  display:block;
  
  opacity:.50;
  pointer-events: all;
 
  transform-style: preserve-3d;
  transform: scale(.85, .85);       /* transform: rotateX(0deg) rotateY(60deg) translateX(25px); */
  transition: opacity .5s ease, left .5s ease, transform .5s ease;

}
.region-card.ord3 .card{
  top:0px;
  left:220px;
  position:absolute;
  display:block;

  opacity:.80;
  pointer-events: all;
  transition: opacity .5s ease, left .5s ease, transform .5s ease;

  

}
.region-card.ord4 .card{
  top:0px;
  left:330px;
  position:absolute;
  display:block;
  
  transform: scale(.85, .85);
  transform-style: preserve-3d;     /* transform:rotateX(0deg) rotateY(-60deg) translateX(-25px) ; */
  opacity:.50;
  pointer-events: all;
  transition: opacity .5s ease, left .5s ease, transform .5s ease;

}
.region-card.ord5 .card {
  top:0px;
  left:440px;
  position:absolute;
  display:block;

  transform: scale(.65, .65);       /* transform: rotateX(0deg) rotateY(-80deg) translateX(-325px); */
  transform-style: preserve-3d;
  opacity:.25;
  pointer-events: all;
  transition: opacity .5s ease, left .5s ease, transform .5s ease;

}
.region-card.exitRight .card, .region-card.exitRight .card > *{
  top:0px;
  left:550px;
  transform:   scale(.35, .35) translateX(-25px);     /* transform:  rotateX(0deg) rotateY(-90deg) ; */
  transition: opacity .25s ease, left .5s ease, transform .5s ease;
  pointer-events: none;
  opacity:0;
}
.region-card.exitLeft .card, .region-card.exitLeft .card > *{
  top:0px;
  left:-110px;
  transform:   scale(.35, .35) translateX(-25px);     /* transform:  rotateX(0deg) rotateY(-90deg) ; */
  transition: opacity .25s ease, left .5s ease, transform .5s ease;
  pointer-events: none;
  opacity:0;
}


.region-card:hover .card {
  opacity:1.0;

  /* transform-style: preserve-3d;
  transform:rotateX(20deg) rotateY(80deg); */
  /* transform: rotateX(45deg); */
}





