@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

#keywordEntrySection {
  display:none;
  
  flex-direction:row;
}

.search-container-inputs {
  display:flex;
  flex-direction:row;

  align-items: center;
}

.search-container {
  width:250px;
  /* margin:50px; */
  display:flex;
  
  border: 1px solid #ccc;
  border-radius: 3px;
  /* padding:8px; */
  flex-basis:250px;
  flex-wrap:wrap;
  flex-direction:row;

}
.search-term-container {
  
  display:flex;
  /* border: 2px solid #bbb;
  border-radius: 3px; */
  flex-wrap:wrap;
}

.search-term-container .search-term {
  padding:4px;
  border: 1px solid #ccf;
  margin:5px;
  display:flex;
  align-items:center;
  border-radius:3px;
  background:#f2f2f2;
}

.map {
  width:100%;
  height:400px; 
}
#analyzeButton {
  display:none;
}

.formButtonGrid {
  display:flex;
  width:500px;
  height:500px;
  flex-wrap:wrap;
  flex-direction:row;
  align-items: flex-start;
  justify-content:space-evenly;
  
}



